@charset "utf-8";
*  {
	margin: 0;
	padding: 0;
	outline: none;
}

html {

	height: 100%
}

body {

	width: 100%;
	height: 100%;
	color: #333;
	background: #f7f7f7;
	font-size: 1em;
	font-family: "Segoe UI", sans-serif;
	line-height: 100%;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
}

a:hover {
	color: #62EDC7;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
}

a:active{
	color: blue;
}

/*  Selection Block */


img {
	max-width: 100%;
	height: auto;
	 
}

hr {
	display: block;
	border: 0;
	height: 1px;
	border-top: 1px solid #ccc;
	padding: 0;
}

header, footer {
	width: 98%:
	background-color: #fff;

} 

header {
	background: black;
	border-bottom: 2px solid silver;
	padding: 1%;
	 
}

.contact {
	font-size: 100%;
	font-family: Comic Sans MS, sans-serif;
	padding: 10px; 
}

.headerButtons {
	display: flex;	
}

.rightHeaderButton {
	margin-left: 32em;
	display:  flex;
 	flex-flow: nowrap;
}

.leftHeaderButton {

 	margin-left: 20px;
	display:  flex;	 
}

.leftHeaderButtonMel {
	margin-left: 290px;
	display:  flex;
 
} 

.contact2 {
	padding: 5px;
    font-size: 100%;
	font-family: Comic Sans MS, sans-serif;	 
}

.mel
{   
	margin: 5px;
	color: white;
	font-weight: bold;
	font-size: 3em;	 
}

a.linkMenu {	
	padding: 10px;
	font-weight: bold;
	color:#62EDC7;
}

a.Menuitem {
	font-family: Comic Sans MS, sans-serif;
	font-size: 100%;
    margin:5px;
	box-sizing:border-box;
	color:#0E0101;
	transition:color ease-out .2s
}

.MenuitemValue {
	color: #62EDC7
}

 .Menuitem:hover {

 	color:#3CD1C8;
 }

 .MenuitemBlog {

 	font-family: Comic Sans MS, sans-serif;
 	color:#3CD1C8;
 }

.link {

     width: 300px; /* Ширина слоя */
     height: 200px; /* Высота слоя */
     background: #fc0; /* Цвет фона */
}
    
.link a {
     display: block; /* Ссылка как блочный элемент */
     text-align: center; /* Выравнивание по центру */
     height: 100%; /* Высота на весь слой */
     color: #666; /* Цвет ссылки */
 }

 .HeadMenuRight {
	
	padding: 5px;
    font-size: 100%;
	font-family: Comic Sans MS, sans-serif;	 

}

.CardsText {
  
	line-height: 25px;
   
   	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	
}

a.CardText {
	display: block;
	height: 100%;
	color: #020301;
}


.cardsblogs {

	margin-top: 2%;
	color: #FE4444;
	font-size: 1em;
	font-weight: bold;
}

.menuHrefs {

	padding-left: 16%;
	flex-direction: row;
	display: flex;
	 
}

 

/* Основные стили для сайта */

#wrapper {
	
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
}

#wrapper #articles {

	align-items: baseline;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
	color: black;
	width: 70%;
 

	margin-left: 16%;
}

#wrapper #articles article {
	 word-spacing: normal;
	width: 70%;
	height: 100%;
 	 
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid silver;
	border-radius: 5px;
	background-color: #FEFEFE;
	 
}
	@media (min-width: 700px)  {
	#wrapper #articles article {
	width: 21%;	
	margin-right: 2%;
}}
	@media (max-width: 699px) {
	#wrapper #articles article {
	width: 96%;
	margin-left: 2%; 
}}


#wrapper #articles article img{
	width: 100%;
	height: 200px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid silver;
	margin-bottom: 10px;
}

/*
#wrapper #articles article a{
	display: block;
	color: black;
	padding: 12px 5px;
	background-color: #291111;
	margin-left: 10%;
	border-radius: 5px;
	margin-top: 10px;
	line-height: 10px;
	margin-bottom: 10px;
}
*/
 

/* стили для футера */

#footerblock {
 	padding: 3% 0;
	margin: 20px 0;
	background: url(../img/pic5.jpg) repeat-x ; 
	height: 200px;
}

#footerblock_in {
	line-height: 25px;
	text-align: center;
	height: 100px;
	border-radius: 7px;
	width: 500px;
}

footer{

	 
	margin-top: 10px;
	padding-bottom: 3%;
}
 
.moreArticles {
	display: flex;

}

.moreArticlesButton {

	 
	color:#62EDC7;
	border-radius: 50px;

}

form {
	width: 100%
} 

form input {
   
	margin-bottom: 15px;
 	width: 70%;
    padding: 10px;
    margin-left: 15px;
}

footer, #page-wrap:after {
	height: 100px
}

.downButton {
	width: 210px;
	height: 55px;
	background: #20B2AA; /* Цвет фона */
	color: #fff; /* Цвет текста */
	border-radius: 40px; /* Уголки */
	font-size: 100%;
	font-family: Comic Sans MS, sans-serif;
	padding: 5px;
}
 

.ContactInfo {
	display: flex;
	height: 300%;
}