@charset "utf-8";
*  {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%
}

body {
    width: 100%;
    height: 100%;
    color: #333;
    background: #f7f7f7;
    font-size: 1em;
    font-family: Proxima, sans-serif;
    line-height: 100%;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    transition: all.6s ease;
}

a:hover {
    color: #62EDC7;
    text-decoration: none;
    transition: all.6s ease;
}

/*  Selection Block */
 
header, footer {
    font-family: 'Merriweather', serif;
    background-color: #fff;
} 

header {

    height: 70px;
    position: relative;
    margin: 0 auto;
    background: black;
}

.navigationButton {
    font-weight: 600;
    font: 14px Proxima,sans-serif;
    padding: 11px; 
}

.headerButtonExit {
    font-size: 95%;
    padding: 10px; 
    background: #20B2AA;  
    color: #fff;  
    border-radius: 30px;  
}

 

.navigationButtonTexts {
    box-sizing: border-box;
    padding: 10px; 
    border-bottom: 3px solid #2FF7D8;
}    
    

.headerButtons {
    vertical-align: baseline;
    display: flex;
    margin-left: 350px;
}

 
.autorisationHeaderButton {
    margin-left: 540px;
     
}

.navigationHeaderButton {
    margin-left: 20px;
     display: flex;
}

.navigationButtonMel {
    width: 100px; 
} 

.melButton {   
     
    color: white;
    font-weight: bold;
    font-size: 50px;  
}

.articleViwes {
    display: inline;
    opacity: 0.7;
    font-size: 13px;
    margin: 4px;
}

.articleInfo {
    margin-left: 20px;
    padding: 30px;
    margin-top: 30px;
}

.menuHrefsSpace {
    margin-top: 10px; 
}

a.Menuitem {
    font-family: Comic Sans MS, sans-serif;
    font-size: 14px;
    
     padding: 8px;
     
    color:#0E0101;
    transition:color ease-out .2s
}

.MenuitemValue {
    color: #62EDC7;
}

.Menuitem:hover {
    color:#3CD1C8;
}

    
.link a {
     display: block;
     text-align: center; 
     height: 100%;
     color: #666; 
 }


.cardsText {
    line-height: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    
}


.cardsBlogs {
    text-transform: uppercase;
    margin-top: 2%;
    color: #FE4444;
    font-weight: 800;
    font-size: 11px;
}

.menuHrefs {
    padding-left: 16%;
    margin-right: 27px;
    display: inline-block;
    margin-left: 40px;
    margin-top:30px;  
}

 

/* Основные стили для сайта */

#wrapper {
    width: 100%;
    margin-top: 36px;
    margin-bottom: 36px;
}

#wrapper #articles {
    display: grid;
    grid-template-columns: repeat(4,277px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    color: black;
    margin-left: 350px;

}

#wrapper #articles article {
    cursor: pointer;
    height: 440px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid silver;
    background-color: #FEFEFE;

     
}

    @media (min-width: 700px)  {
        #wrapper #articles article {
                 width: 280px; 
                  margin-right: 2%;
}}
    @media (max-width: 699px) {
        #wrapper #articles article {
              width: 280px;
              margin-left: 2%; 
}}

#wrapper #articles article img{
    width: 100%;
    height: 220px;
    margin-bottom: 10px;
} 

/* стили для футера */

#footerBlock {

    color: white;
    clear: both;
    padding: 3% 0;
    margin: 20px 0;
    background: url(../img/background.jpg) center/cover no-repeat ; 
    height: 200px;
}

#footerBlockIn {
    line-height: 25px;
    width: 470px;
}

.formDescription {
    margin-bottom: 110px;
    width: 430px;
    font: 14px/20px Proxima,sans-serif;
    opacity: .8;
}

form {height: 40px;
    width: 92%
} 

form input {

    margin-bottom: 15px;
    width: 90%;
    padding: 10px;
    margin-left: 15px;
}

input:focus {
  border: 2px solid #47B3AC;
}

.moreArticlesButton {
    cursor: pointer;
    display: inline-block;
    border: none;
    height: 46px;
    border-radius: 23px;
    font-size: 17px;
    padding: 0 42px;
    font-family: Monserat, sans-serif;
    color: #FFF;
    background-color: #47B3AC;
    margin-bottom: 25px;

}

 
.footerInfo {
    min-height: 300px;  
    padding: 30px;
    text-align: center;
    background-color: #1C1C1C;  
}

.footerRubrics {
    font-size: 95%;
    font-weight:bold;
    margin: 10px;
    margin-bottom: 27px;
}

.footerCategories {

    display: inline-block;
     
}

.footernavigation {
     margin-left: 17px;
    font-size: 90%; 
}

.footerLinks {
    font-family:  Arial,sans-serif;
    font-size: 14px;
    max-width: 670px;
    margin: 0 auto 31px;
}

.footerItems {
    text-transform: uppercase;
    color: #ECECEC;
    margin-right: 10px;
    transition:color ease-out .2s;
    vertical-align: middle;
    line-height: 2;
    text-align: center;
    background-color: #1C1C1C;  
}

.footerItemsBlogs {
    color: #50EBD3;
}

.footerCopyright {
    margin-top: 17px;
    font: 14px/24px roboto-regular,Arial,sans-serif;
    display: inline-block;
    color: #fff;
}

.footerLink {
    
    line-height: 1.4;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #888;
}

.footerSocial {
    margin-top: 20px;
    display: inline-block;
    /*margin-right:  25px;*/
    margin-left: 25px;
    font-size: 23px;
    margin-bottom: 35px;
}

.footerIcons {
    padding: 8px;
    font-size: 100%;
}

